.edd-checkout-wizard-nav-tabs {
    display: table;
    width: 100%;
    border-spacing: 4px;
    border-collapse: separate;
}

.edd-checkout-wizard-nav-tab {
    display: table-cell;
    text-decoration: none;
    padding: 20px 6px 2px;
    border-radius: 4px;
}

.edd-checkout-wizard-nav-tab[data-validated="false"] {
    background: #fafafa;
    color: #bbb;
}

.edd-checkout-wizard-nav-tab[data-validated="true"],
.edd-checkout-wizard-nav-tab[data-current="true"] {
    background: #428bca;
    color: #fff;
    opacity: 0.6;
}

.edd-checkout-wizard-nav-tab.nav-tab-active[data-validated="true"],
.edd-checkout-wizard-nav-tab.nav-tab-active[data-current="true"] {
    opacity: 1;
}
.edd-checkout-wizard-nav-tab[data-validated="true"]:not(.nav-tab-active):hover {
    opacity: 0.8;
}

.edd-checkout-wizard-nav-tab.nav-tab-active {
    background: #428bca;
    color: #fff;
}

.edd-checkout-wizard-button[aria-hidden="true"] {
    display: none;
}

@media (max-width: 599px) {
    .edd-checkout-wizard-nav-tab:not(.nav-tab-active) {
        display: none;
    }
}